* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0b0f;
    color: white;
    min-height: 100vh;
}

.app {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
}

.balance {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #17171d;
    border: 1px solid #292930;
    padding: 9px 13px;
    border-radius: 12px;
    font-weight: 700;
}

.profile-card {
    display: flex;
    align-items: center;
    gap: 14px;
    background: #15151b;
    border: 1px solid #24242b;
    border-radius: 18px;
    padding: 16px;
    margin-bottom: 18px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #24242c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.profile-info {
    min-width: 0;
}

.welcome {
    color: #8f8f99;
    font-size: 13px;
    margin-bottom: 4px;
}

.username {
    font-size: 17px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-card {
    background: #15151b;
    border: 1px solid #24242b;
    border-radius: 18px;
    padding: 18px;

    display: flex;
    align-items: center;
    gap: 14px;
}

.game-icon {
    width: 55px;
    height: 55px;
    background: #24242c;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
}

.game-info {
    flex: 1;
}

.game-info h2 {
    font-size: 17px;
    margin-bottom: 5px;
}

.game-info p {
    color: #8f8f99;
    font-size: 12px;
}

.play-button {
    border: none;
    background: white;
    color: black;

    font-weight: 900;
    padding: 11px 14px;
    border-radius: 11px;

    cursor: pointer;
}

.play-button:active {
    transform: scale(0.95);
} 